.Person {

	height: 100px;
	width: 250px;
	/*background-color: #FF5343;*/
	/*border-style: solid;*/
}
.FN{
	font-size: 18px;
	font-weight: 300;
}

.LN{
	font-size: 18px;
	font-weight: 300;
}

.EM{
	font-size: 13px
}